.searchBar_box {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  direction: ltr;
}

.searchBar_box input {
  height: 35px;
  width: 75%;
  padding-right: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
}

.searchBar_box input:focus{
  border: 2px solid #07df85;
}

.searchBar_box input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.searchBar_box span {
  width: 20%;
  height: 35px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ece6f;
  color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
}
