.plans-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px;
  background: #fff5f5;
  padding: 40px;
  margin-top: 150px;
  margin-right : 150px;
  border-radius: 10px;
  position: relative;
 
}



.plans {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
}

.plan {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

.plan h2 {
  color: #DD761C;
  padding: 10px;
  font-style: oblique;
  text-transform: uppercase ;
  font-weight: bolder;
  margin-right: 10px;
}

.plan ul {
  list-style-type:circle;
  font-weight: 600;
  margin: 0;
  
}

.plan--standard {
  background-color: #0fa3f3;
}

.plan--premium {
  background-color: #229cec;
}

.plan__title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.plan__price {
  color: #3c0000;
  font-size: 36px;
  margin-bottom: 20px;
}

.plan__features {
  list-style:disc;
  text-align: left;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin-bottom: 10px;
  list-style:disc;
  text-align: left;
}

.plan__button {
  background-color: #4c9ef5;
  border: none;
  border-radius: 5px;
  color: #cbc0c0;
  padding: 10px 20px;
  text-transform: uppercase;
}

.form {
  width: 80%;
  margin: 0 auto; 
  margin-top: 2rem;
  border: 1px solid #A8DF8E;
  border-radius: 5px;
  padding: 2rem;
  background-color: #A8DF8E;
}

.form__row {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.form__row #theftProtection {
  align-items: right;
}

.form label {
  width: 120px;
  margin-right: 10px; 
  font-weight: 500;
  text-align: center;
}

.form input,
.form textarea,
.form select {
  padding: 0.5rem;
  border: 1px solid #00e458;
  border-radius: 5px;
  text-align:left;
  flex: 1; 
}

.form input[type="checkbox"] {
  margin-left: 1rem;
}

.form button {
  background-color: #a07954;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.form button:hover {
  background-color: #e79044;
}


